/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

body {
  background: url("/images/murphys-new-background.jpeg") no-repeat center center fixed;
  background-size: cover;
  --bs-dark: #1B4F24;
  --bs-dark-rgb: #1B4F24;
}

#topMenu {
  background-color: #1B4F24;
  color: white;
}

#centerText {
  color: white;
  height: 500px;
}

#bottomMenu {
  background-color: #1B4F24;
  color: white;
}

a.nav-link{
  color: white;
}
